.hide {
  display: none;
}

.dib {
  display: inline-block;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 50%;
}

body {
  text-align: center;
  max-width: 500px;
  margin:auto;
  font-family: sans-serif;
}

thead {
  font-weight: bold;
  background-color: #333333;
  color: #eee;
}

tr:nth-child(2n) {
  background-color: #aabbcc;
}

td {
  padding: 5px 15px;
}
